/allure-commandline-2.6.0.jar
/allure-generator-2.6.0.jar
/allure-plugin-api-2.6.0.jar
/allure1-model-1.0.jar
/allure2-model-api-1.0-BETA4.jar
/allure2-model-jackson-1.0-BETA4.jar
/allure2-model-pojo-1.0-BETA4.jar
/commons-beanutils-1.9.3.jar
/commons-codec-1.10.jar
/commons-collections-3.2.2.jar
/commons-io-2.6.jar
/commons-lang3-3.7.jar
/commons-logging-1.2.jar
/commons-text-1.1.jar
/flexmark-0.28.18.jar
/flexmark-util-0.28.18.jar
/freemarker-2.3.23.jar
/httpclient-4.5.4.jar
/httpcore-4.4.7.jar
/jackson-annotations-2.9.0.jar
/jackson-core-2.9.3.jar
/jackson-databind-2.9.3.jar
/jackson-dataformat-xml-2.9.3.jar
/jackson-dataformat-yaml-2.9.3.jar
/jackson-module-jaxb-annotations-2.9.3.jar
/javax.servlet-api-3.1.0.jar
/jaxb-api-2.3.0.jar
/jaxb-utils-1.0.jar
/jcommander-1.72.jar
/jetty-http-9.4.8.v20171121.jar
/jetty-io-9.4.8.v20171121.jar
/jetty-server-9.4.8.v20171121.jar
/jetty-util-9.4.8.v20171121.jar
/log4j-1.2.17.jar
/opencsv-4.1.jar
/properties-2.0.RC5.jar
/slf4j-api-1.7.25.jar
/slf4j-log4j12-1.7.25.jar
/snakeyaml-1.18.jar
/stax2-api-3.1.4.jar
/tika-core-1.16.jar
/woodstox-core-5.0.3.jar
