/__init__.py
/_pydev_BaseHTTPServer.py
/_pydev_SimpleXMLRPCServer.py
/_pydev_SocketServer.py
/_pydev_execfile.py
/_pydev_inspect.py
/_pydev_pkgutil_old.py
/_pydev_saved_modules.py
/_pydev_sys_patch.py
/_pydev_uuid_old.py
/_pydev_xmlrpclib.py
