/LICENSE.txt
/NOTICE.txt
/XStream_license.txt
/ant_license.txt
/asm_license.txt
/eclipse_license.txt
/growl.license
/gson_license.txt
/imgscalr_license.txt
/javahelp_license.html
/javolution_license.txt
/jaxb_license.txt
/jaxen_license.txt
/jayatana_license.txt
/jdom_license.txt
/jgoodies_forms_license.txt
/junit_license.txt
/kryo-license.txt
/log4j_license.txt
/microba_license.txt
/miglayout_swing_license.txt
/nanoxml_license.txt
/oromatcher_license.txt
/picoContainer_license.txt
/sanselan_license.txt
/saxon-conditions.html
/sqljet-license.txt
/svnkit-license.txt
/swingx_license.txt
/trove4j_license.txt
/winp_license.txt
/xerces_license.txt
/xmlrpc_license.txt
/yourkit-license-redist.txt
