/__init__.pyi
/bdist.pyi
/bdist_dumb.pyi
/bdist_msi.pyi
/bdist_packager.pyi
/bdist_rpm.pyi
/bdist_wininst.pyi
/build.pyi
/build_clib.pyi
/build_ext.pyi
/build_py.pyi
/build_scripts.pyi
/check.pyi
/clean.pyi
/config.pyi
/install.pyi
/install_data.pyi
/install_headers.pyi
/install_lib.pyi
/install_scripts.pyi
/register.pyi
/sdist.pyi
