/README.txt
/_always_live_program.py
/_check.py
/_test_attach_to_process.py
/_test_attach_to_process_linux.py
/add_code_to_python_process.py
/attach_amd64.dll
/attach_linux_amd64.so
/attach_linux_x86.so
/attach_pydevd.py
/attach_script.py
/attach_x86.dll
/attach_x86.dylib
/attach_x86_64.dylib
