/BaseHTTPServer.pyi
/ConfigParser.pyi
/Cookie.pyi
/HTMLParser.pyi
/Queue.pyi
/SocketServer.pyi
/StringIO.pyi
/UserDict.pyi
/UserList.pyi
/UserString.pyi
/__builtin__.pyi
/__future__.pyi
/_ast.pyi
/_codecs.pyi
/_collections.pyi
/_functools.pyi
/_hotshot.pyi
/_io.pyi
/_json.pyi
/_md5.pyi
/_random.pyi
/_sha.pyi
/_sha256.pyi
/_sha512.pyi
/_socket.pyi
/_sre.pyi
/_struct.pyi
/_symtable.pyi
/_warnings.pyi
/_weakref.pyi
/_weakrefset.pyi
/abc.pyi
/array.pyi
/ast.pyi
/atexit.pyi
/base64.pyi
/binascii.pyi
/builtins.pyi
/cPickle.pyi
/cStringIO.pyi
/calendar.pyi
/collections.pyi
/commands.pyi
/compileall.pyi
/cookielib.pyi
/copy.pyi
/csv.pyi
/datetime.pyi
/decimal.pyi
/difflib.pyi
/doctest.pyi
/exceptions.pyi
/fcntl.pyi
/fileinput.pyi
/fnmatch.pyi
/functools.pyi
/future_builtins.pyi
/gc.pyi
/genericpath.pyi
/getopt.pyi
/getpass.pyi
/gettext.pyi
/glob.pyi
/grp.pyi
/gzip.pyi
/hashlib.pyi
/heapq.pyi
/htmlentitydefs.pyi
/httplib.pyi
/imp.pyi
/importlib.pyi
/inspect.pyi
/io.pyi
/itertools.pyi
/json.pyi
/linecache.pyi
/markupbase.pyi
/md5.pyi
/mimetools.pyi
/optparse.pyi
/pdb.pyi
/pickle.pyi
/pipes.pyi
/platform.pyi
/posix.pyi
/posixpath.pyi
/pprint.pyi
/pwd.pyi
/random.pyi
/re.pyi
/repr.pyi
/resource.pyi
/rfc822.pyi
/robotparser.pyi
/runpy.pyi
/select.pyi
/sha.pyi
/shelve.pyi
/shlex.pyi
/shutil.pyi
/signal.pyi
/smtplib.pyi
/socket.pyi
/ssl.pyi
/stat.pyi
/string.pyi
/strop.pyi
/struct.pyi
/subprocess.pyi
/symbol.pyi
/sys.pyi
/tempfile.pyi
/textwrap.pyi
/thread.pyi
/time.pyi
/token.pyi
/tokenize.pyi
/types.pyi
/typing.pyi
/unittest.pyi
/urllib.pyi
/urllib2.pyi
/urlparse.pyi
/uuid.pyi
/weakref.pyi
/zlib.pyi
