/DroidSans-Bold.ttf
/DroidSans.ttf
/DroidSansMono.ttf
/DroidSansMonoDotted.ttf
/DroidSansMonoSlashed.ttf
/DroidSerif-Bold.ttf
/DroidSerif-BoldItalic.ttf
/DroidSerif-Italic.ttf
/DroidSerif-Regular.ttf
/LICENSE.txt
/font.conf
