/__init__.pyi
/archive_util.pyi
/bcppcompiler.pyi
/ccompiler.pyi
/cmd.pyi
/core.pyi
/cygwinccompiler.pyi
/debug.pyi
/dep_util.pyi
/dir_util.pyi
/dist.pyi
/errors.pyi
/extension.pyi
/fancy_getopt.pyi
/file_util.pyi
/filelist.pyi
/log.pyi
/msvccompiler.pyi
/spawn.pyi
/sysconfig.pyi
/text_file.pyi
/unixccompiler.pyi
/util.pyi
/version.pyi
