/ANTLR-LICENSE
/CHANGES.txt
/COPYING
/LICENSE-ANTLR.txt
/LICENSE-JAVAHL.txt
/LICENSE-JNA.txt
/LICENSE-SEQUENCE.txt
/LICENSE-SQLJET.txt
/LICENSE-TRILEAD.txt
/LICENSE.txt
/README.txt
/SEQUENCE-LICENSE
/SQLJET-LICENSE
/SQLJET-README.txt
/TRILEAD-LICENSE
/changelog.txt
