/AUTHORS.txt
/LICENSE.txt
/README.md
/StringIO.py
/__builtin__.py
/_csv.py
/alembic.py
/behave.py
/builtins.py
/cStringIO.py
/collections.py
/copy.py
/datetime.py
/decimal.py
/functools.py
/io.py
/itertools.py
/logging.py
/math.py
/pathlib.py
/pickle.py
/re.py
/shutil.py
/sqlite3.py
/struct.py
/subprocess.py
/sys.py
