/_bisect.pyi
/_heapq.pyi
/argparse.pyi
/asynchat.pyi
/asyncore.pyi
/binhex.pyi
/bisect.pyi
/bz2.pyi
/cProfile.pyi
/cgi.pyi
/cmath.pyi
/code.pyi
/codecs.pyi
/colorsys.pyi
/contextlib.pyi
/dis.pyi
/errno.pyi
/filecmp.pyi
/fractions.pyi
/ftplib.pyi
/hmac.pyi
/keyword.pyi
/locale.pyi
/marshal.pyi
/math.pyi
/mimetypes.pyi
/mmap.pyi
/numbers.pyi
/opcode.pyi
/operator.pyi
/pkgutil.pyi
/plistlib.pyi
/profile.pyi
/pstats.pyi
/py_compile.pyi
/pyclbr.pyi
/quopri.pyi
/readline.pyi
/rlcompleter.pyi
/site.pyi
/sndhdr.pyi
/spwd.pyi
/stringprep.pyi
/sunau.pyi
/symtable.pyi
/sysconfig.pyi
/syslog.pyi
/tabnanny.pyi
/tarfile.pyi
/telnetlib.pyi
/termios.pyi
/threading.pyi
/timeit.pyi
/trace.pyi
/traceback.pyi
/tty.pyi
/unicodedata.pyi
/uu.pyi
/warnings.pyi
/wave.pyi
/webbrowser.pyi
/xdrlib.pyi
/zipfile.pyi
/zipimport.pyi
