/__future__.pyi
/_ast.pyi
/_codecs.pyi
/_compression.pyi
/_curses.pyi
/_dummy_thread.pyi
/_importlib_modulespec.pyi
/_json.pyi
/_markupbase.pyi
/_operator.pyi
/_posixsubprocess.pyi
/_random.pyi
/_subprocess.pyi
/_thread.pyi
/_warnings.pyi
/abc.pyi
/array.pyi
/ast.pyi
/atexit.pyi
/base64.pyi
/binascii.pyi
/builtins.pyi
/calendar.pyi
/compileall.pyi
/configparser.pyi
/copy.pyi
/csv.pyi
/datetime.pyi
/decimal.pyi
/difflib.pyi
/doctest.pyi
/fcntl.pyi
/fileinput.pyi
/fnmatch.pyi
/functools.pyi
/gc.pyi
/getopt.pyi
/getpass.pyi
/gettext.pyi
/glob.pyi
/grp.pyi
/gzip.pyi
/hashlib.pyi
/heapq.pyi
/imp.pyi
/inspect.pyi
/io.pyi
/itertools.pyi
/json.pyi
/linecache.pyi
/msvcrt.pyi
/pdb.pyi
/pickle.pyi
/pipes.pyi
/platform.pyi
/posix.pyi
/posixpath.pyi
/pprint.pyi
/pwd.pyi
/queue.pyi
/random.pyi
/re.pyi
/resource.pyi
/runpy.pyi
/select.pyi
/shelve.pyi
/shlex.pyi
/shutil.pyi
/signal.pyi
/smtplib.pyi
/socket.pyi
/socketserver.pyi
/ssl.pyi
/stat.pyi
/string.pyi
/struct.pyi
/subprocess.pyi
/symbol.pyi
/sys.pyi
/tempfile.pyi
/textwrap.pyi
/time.pyi
/token.pyi
/tokenize.pyi
/types.pyi
/typing.pyi
/uuid.pyi
/weakref.pyi
/zlib.pyi
